<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>title</key>
    <string>yt-formatted-string.title</string>
    <key>artist</key>
    <string>yt-formatted-string.byline</string>
    <key>playPause</key>
    <string>.play-pause-button</string>
    <key>next</key>
    <string>.next-button</string>
    <key>previous</key>
    <string>.previous-button</string>
    <key>player</key>
    <string>ytmusic-player</string>
</dict>
</plist>
